@use 'sass:color';
@use 'sass:map';

@use '@material/theme/color-palette';
@use '../palette' as palette;

// Extrair cores da paleta personalizada
$light-theme: map.get(palette.$themes, 'light');
$dark-theme: map.get(palette.$themes, 'dark');

// Svelte Colors integrados com a paleta personalizada (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: map.get($dark-theme, 'primary'),
	$secondary: map.get($dark-theme, 'secondary'),
	$surface: map.get($dark-theme, 'surface'),
	$background: map.get($dark-theme, 'background'),
	$error: #ffb4ab
);

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
}

a {
	color: map.get($dark-theme, 'accent');
}
a:visited {
	color: color.scale(map.get($dark-theme, 'accent'), $lightness: -35%);
}
