@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #82d5c8,
	$secondary: color.scale(#cebdfe, $whiteness: -10%),
	$surface: color.adjust(#0f1416, $blue: +4),
	$background: #343a3c,
	$error: #ffb4ab
);

html,
body {
	background-color: #343a3c;
	color: theme.$on-surface;
}

a {
	color: #ffb0c8;
}
a:visited {
	color: color.scale(#ffb0c8, $lightness: -35%);
}
