@use 'sass:color';
@use 'sass:map';

@use '@material/theme/color-palette';
@use './palette' as palette;

// Extrair cores da paleta personalizada
$light-theme: map.get(palette.$themes, 'light');
$dark-theme: map.get(palette.$themes, 'dark');

// Svelte Colors integrados com a paleta personalizada
@use '@material/theme/index' as theme with (
	$primary: map.get($light-theme, 'primary'),
	$secondary: map.get($light-theme, 'secondary'),
	$surface: map.get($light-theme, 'surface'),
	$background: map.get($light-theme, 'background'),
	$error: #904a43
);

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}

a {
	color: map.get($light-theme, 'accent');
}
a:visited {
	color: color.scale(map.get($light-theme, 'accent'), $lightness: -35%);
}
