@use "../public/lib/bulma/bulma.scss";
@use "../public/lib/bulma/sass/utilities/mixins";
@use "../public/lib/materialize/sass/materialize.scss";
@use "../public/lib/materialize/sass/components/color-variables" as colors;
@font-face {
  font-family: "noto-display";
  src: url("../public/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-display: swap;
}

:root {
  height: 100%;
}

[data-theme="light"] {
  body {
    background-color: colors.color("teal", "lighten-4");
  }
}

[data-theme="dark"] {
  body {
    background-color: colors.color("teal", "darken-3");
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: noto-display, sans-serif;

  @supports (scrollbar-gutter: stable) {
    scrollbar-gutter: stable both-edges;
  }

  &,
  & * {
    overflow: auto;
    scroll-behavior: smooth;
    @supports (scrollbar-width: thin) {
      scrollbar-width: thin;
      scrollbar-color: colors.color("teal", "darken-3") transparent;
    }
  }
}

#show-theme-toggle-menu {
  display: flex;
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
}

#theme-toggle-menu-icon {
  height: 60%;
  width: 60%;
}

@include mixins.mobile {
}
