@use '@fontsource/fira-mono';

@font-face {
	font-family: 'Noto Sans Display';
	src: url('/fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans Mono';
	src: url('/fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 100 900;
	font-stretch: 62.5% 100%;
	font-display: swap;
}

$colors: (
	primary: var(--mdc-theme-primary),
	secondary: var(--mdc-theme-secondary),
	background: var(--mdc-theme-background),
	surface: var(--mdc-theme-surface),
	error: var(--mdc-theme-error),
	on-primary: var(--mdc-theme-on-primary),
	on-secondary: var(--mdc-theme-on-secondary),
	on-surface: var(--mdc-theme-on-surface),
	on-error: var(--mdc-theme-on-error),
	text-on-background: var(--mdc-theme-text-primary-on-background),
	text-secondary-on-background: var(--mdc-theme-text-secondary-on-background),
	text-hint-on-background: var(--mdc-theme-text-hint-on-background),
	text-disabled-on-background: var(--mdc-theme-text-disabled-on-background),
	text-icon-on-background: var(--mdc-theme-text-icon-on-background),
	text-primary-on-light: var(--mdc-theme-text-primary-on-light),
	text-secondary-on-light: var(--mdc-theme-text-secondary-on-light),
	text-hint-on-light: var(--mdc-theme-text-hint-on-light),
	text-disabled-on-light: var(--mdc-theme-text-disabled-on-light),
	text-icon-on-light: var(--mdc-theme-text-icon-on-light),
	text-primary-on-dark: var(--mdc-theme-text-primary-on-dark),
	text-secondary-on-dark: var(--mdc-theme-text-secondary-on-dark),
	text-hint-on-dark: var(--mdc-theme-text-hint-on-dark),
	text-disabled-on-dark: var(--mdc-theme-text-disabled-on-dark),
	text-icon-on-dark: var(--mdc-theme-text-icon-on-dark)
);
:root {
	--font-body:
		'Noto Sans Display', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Noto Sans Mono', 'Fira Mono', monospace;
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

a {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

#sveltekit.body {
	display: contents;
}
